* {
  padding: 0;
  margin: 0;
}

h1 {
  padding: auto;
  text-align: center;
  background: #ececec;
}

p {
  padding: auto;
  text-align: center;
}

section {
  background: #ececec;
}

img {
  padding-left: 350px;
}

figcaption {
  padding-left: 200px;
}

form {
  background-color: #ececec;
  padding-left: 25rem;
  padding-right: 25rem;
}

main {
  padding: 30px;
  padding-left: 30px;
}

footer {
  padding: 20px;
}
